<%= content_tag :div, class: "exception", data: { status: @exception.status, response: @exception.response.to_s.humanize }, onclick: ("location.href=\"#{root_url}\";" if @exception.status == "500" && Rails.application.routes.recognize_path("/")), title: ("Return Home" if @exception.status == "500" && Rails.application.routes.recognize_path("/")) do %>
  <h2>Ruh Roh, something went wrong.</h2>
<% end %>
