<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="menu">
          <p class="menu-label">YAMdb</p>
          <ul class="menu-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/credits">Credits</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="memu">
          <p class="menu-label">Movies</p>
          <ul class="menu-list">
            <li><a href="/movies/popular">Popular</a></li>
            <li><a href="/movies/now_playing">In Theatres</a></li>
            <li><a href="/movies/upcoming">Upcoming</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content has-text-centered">
      <br><br>
      <p>
        <strong>YAMdb</strong> by <a href="http://ry4n.io">Ryan Olson</a>.
      </p>
      <p>This product uses the TMDb API but is not endorsed or certified by TMDb</p>
      <p>
        <a href="https://www.themoviedb.org">
          <img width="150" src="https://www.themoviedb.org/assets/static_cache/9b3f9c24d9fd5f297ae433eb33d93514/images/v4/logos/408x161-powered-by-rectangle-green.png">
        </a>
      </p>
    </div>
  </div>
</footer>