<footer class="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-6 col-sm">
        <div class="menu">
          <p class="menu-label">YAMdb</p>
          <ul class="menu-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/credits">Credits</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-sm">
        <div class="memu">
          <p class="menu-label">Movies</p>
          <ul class="menu-list">
            <li><a href="/movies/genres">Genres</a></li>
            <li><a href="/movies/popular">Popular</a></li>
            <li><a href="/movies/now_playing">In Theatres</a></li>
            <li><a href="/movies/top_rated">Top Rated</a></li>
            <li><a href="/movies/upcoming">Upcoming</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-sm">
        <div class="memu">
          <p class="menu-label">TV</p>
          <ul class="menu-list">
            <li><a href="/tv/genres">Genres</a></li>
            <li><a href="/tv/popular">Popular</a></li>
            <li><a href="/tv/on_the_air">On The Air</a></li>
            <li><a href="/tv/top_rated">Top Rated</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content has-text-centered">
      <br><br>
      <p>
      <iframe src="https://ghbtns.com/github-btn.html?user=ry4nolson&repo=yamdb&type=star&count=true&size=large" frameborder="0" scrolling="0" width="130px" height="30px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=ry4nolson&repo=yamdb&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="145px" height="30px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=ry4nolson&repo=yamdb&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="130px" height="30px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=ry4nolson&repo=yamdb&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="190px" height="30px"></iframe>
    </p>
      <p>
        <strong>YAMdb</strong> by <a href="http://ry4n.io">Ryan Olson</a>.
      </p>
      <p>
        Sponsored by <a href="https://www.texasbeardcompany.com" target="_blank"><strong>Texas Beard Company</strong></a>
      </p>
      <p>This product uses the TMDb API but is not endorsed or certified by TMDb</p>
      <p>
        <a href="https://www.themoviedb.org">
          <img width="150" src="https://www.themoviedb.org/assets/static_cache/9b3f9c24d9fd5f297ae433eb33d93514/images/v4/logos/408x161-powered-by-rectangle-green.png">
        </a>
      </p>
    </div>
  </div>
</footer>