
  <div class="movie">
    <a href="/movies/<%= movie['id'] %>">
      <img alt="<%= movie['title'] %>" src="https://image.tmdb.org/t/p/w<%= width %>/<%= movie['poster_path'] %>" class="poster">
    </a>
  </div>
