
  <div class="movie">
    <a href="/tv/<%= show['id'] %>">
      <img alt="<%= show['title'] %>" src="https://image.tmdb.org/t/p/w<%= width %>/<%= show['poster_path'] %>" class="poster">
    </a>
  </div>
