<div class="container">
  <h1 class="is-size-1">About YAMdb</h1>
  <p>
    YAMdb (yet another movie database) is an open source personal project made by <a href="http://ry4n.io">Ryan Olson</a>. 
  </p>
  <p>
    This app/website uses data from <a href="http://tmdb.org">The Movie Database</a>'s API.
  </p>
  <p>
    View the code on <a href="https://github.com/ry4nolson/yamdb">GitHub</a>.
  </p>
  
</div>