/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
   background:#FDFDFD;
 }

.hero {
  width:100%; height:400px;
  overflow:hidden;
}
.hero img { width:100%; }

.navbar { background:#DC602E; border-bottom:2px solid #503047; }
.navbar, .navbar a { color:#fff; }
.navbar a:hover { color:#503047; }
.navbar-link:after { border-color:#503047; }
.navbar-dropdown a, .navbar-menu.is-active a { color:#100860; }

.bx-wrapper { box-shadow:none; border:none; }

h3 { margin-top:20px; }

footer { margin-top:30px; }

.button.is-info { background:#503047; }

.container { padding:0 15px; }

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.news-title a {
  font-size:1em;
  color:inherit;
  font-weight:bold;
  display: block;
}
.news-comments a {
  font-size:0.75em;
  color:inherit;
  opacity: 0.75;
  display: block;
  margin-bottom:10px;
}