// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-info { margin-top:-125px; }
.poster { width:100%; }

.movie { max-width:150px; margin:0 auto; }

.hero-body { position:relative; padding-left:0 !important; padding-right:0 !important; }
.hero-body:before { 
  content:''; display:block; position:absolute; top:0; bottom:0; right:0; left:0;
  background: -moz-linear-gradient(top, rgba(80,48,71,0.75) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(80,48,71,0.75) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(80,48,71,0.75) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf503047', endColorstr='#00503047',GradientType=0 );
}
.hero-body > div { position:relative; z-index:1; }

// .hero-crew {
//   margin-top:175px;
// }

.year { opacity:.5; }

.movie-poster { margin-top:-200px; border-bottom:1px solid transparent; }

.movie-poster > a > img { display:block;box-shadow:0 0 10px #000; max-width:100%; }

.similar { margin-top:20px; }

.movie-section { display:none; }
.movie-section > div { margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #DC602E; }

.details table { width:100%; }

.credit .media-left {
  min-height:65px;
  width:50px;
  background:#eee;
}

.credit p {
  margin-bottom:0em !important;
}
.youtube-video {
    display: block;
    position: absolute;
    height: 100%;
}

.youtube-video i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    margin: -25px;
    color:#fff;
    opacity:0.75;
}

@media screen and (max-width: 768px)
{
  .hero-body {
    padding:1rem;
  }
  .hero {
    height:250px !important;
  }
  .movie-poster {
    margin-top:-125px;
  }
  .movie-info { margin-top:0; }
  
  // .hero-crew {
  //   margin-top:0px;
  // }
}